{% extends 'base.html' %}

{% block title %}{{course.course_title}}{% endblock %}


{% block content %}


<!-- Форма подачи заявки на курс не реализована -->
<div class="jumbotron" >
  <h1 class="display-4"><h2>{{course.course_title}}</h2></h1>
  <p class="lead">
	  <div class="alert alert-dark" role="alert"><p>{{course.course_description}}</p></div></p>
	  	<hr class="my-4">
	  <p><div class="alert alert-warning alert-dismissible fade show" role="alert">
		  <strong>Поторопись!</strong>  Курс стартует {{course.date_of_start}}
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  </div></p>

  <button style="margin: 20px;" type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="%не реализовано%">
  	<a style="color: white; " href="#">Записаться на курс</a>
  </button>

  <button style="margin: 20px;" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="К списку курсов">
	  <a style="color: white; " href="/courses">К списку всех курсов</a>
  </button>
</div>



{% endblock %}



